СЕЛЕКТОР ТЕГА body {
  background-color: rgb(245, 186, 186);
  color: rgb(11, 12, 11);
}

/* * - универсальный селектор */

/* СЕЛЕКТОР КЛАССА
.full-document {
  font-size: 30px;
} */
/* СЕЛЕКТОР ИДЕНТИФИКАТОРА */
/* #header {
  background-color: teal;
}
/* СЕЛЕКТОР ПОТОМКА */
/* .main-nav img {
  border: 10px solid green;
} */
/* СЕЛЕКТОР РЕБЕНКА (то же, что и потомок, 
только следующий по вложенности, а именно 
nav - родитель; a, ul, ul - 3 ребенка */
/* .main-nav > a {
  border: 1px solid rgb(98, 201, 98);
} */
/* СЕЛЕКТОР АТРИБУТА */
/* a[href] {
  color: green;
} */

/* СПЕЦИФИЧНОСТЬ СЕЛЕКТОРОВ
0 - если через атрибут style
0 - id
0 - class , pseudo-class, attribute
0 -  tag , pseudo-elements */

/* PRACTICE */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-nav a:hover {
  color: #ff6c00;
}
.online-sign {
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

.hero,
.services {
  background-color: black;
  color: white;
}

.about p {
  color: #555555;
}

.hero-description p,
.services p,
.services span {
  color: #9da4bd;
}

.masters {
  color: #303030;
}
.employee {
  color: #ff6c00;
}
